// component 1
.interactive {
    width: 86%;
    margin-left: auto;
    margin-right: auto;

    &__img {
        width: 100%;
        display: block;
        margin-bottom: 3rem;
    }
    &__content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        &-subtitle {
            font-family: 'Josefine Sans', sans-serif;
            font-weight: lighter;
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.1;

            margin-bottom: 13.5px;
        }
        &-paragraph {
            font-family: 'Alata', sans-serif;
            color: $dark-gray;
            text-align: center;
            line-height: 1.7;

            margin-top: 0;
        }
    }
}