@font-face {
    font-family: 'Alata';
    src: url('../fonts/Alata-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Josefine Sans';
    src: url('../fonts/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
}