@keyframes move-up-1 {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes move-up-2 {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes move-left {
    0% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes move-down {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}