// section 1
.interactive {
    width: 86%;
    max-width: 1114px;
    height: auto;
    padding-top: 6.25rem;
    padding-bottom: 3.25rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    @include desktop-up {
        flex-direction: row;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        max-width: 731px;
        display: block;
        margin-bottom: 3rem;

        @include desktop-up {
            margin-right: auto;
        }
    }

    &__content {
        width: 90%;
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        
        @include desktop-up {
            padding: 6rem;

            position: absolute;
            right: -100px;
            top: 280px;
        }

        &-subtitle {
            // font
            font-size: 2rem;
            text-align: center;
            line-height: 1.1;

            margin-top: 0;
            margin-bottom: 13.5px;
            @include desktop-up {
                font-size: 3rem;
                text-align: left;
            }
        }
        &-paragraph {
            color: $dark-gray;
            text-align: center;
            line-height: 1.7;

            margin-top: 0;

            @include desktop-up {
                text-align: left;
            }
        }
    }
}

// section 2
.creations {
    display: grid;
    
    margin-bottom: 4.1rem;

    &__subtitle {
        // font
        font-size: 2rem;
        text-align: center;
        // grid
        order: 1;
    }
    &__button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;

        order: 3;
    }
    &__gallery {
        width: 86%;
        margin-left: auto;
        margin-right: auto;
        // grid
        display: grid;
        row-gap: 1.6rem;
        order: 2;
        @include desktop-up {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1.6rem;
        }
        @include big-desktop-up {
            column-gap: 2rem;
        }

        &-item {
            &:nth-child(1) {
                background-image: url('../images/mobile/image-deep-earth.jpg');
                background-size: cover;
                background-position: center;
                @include desktop-up {
                    background-image: url('../images/desktop/image-deep-earth.jpg');
                }
            }
            &:nth-child(2) {
                background-image: url('../images/mobile/image-night-arcade.jpg');
                background-size: cover;
                background-position: center;
                @include desktop-up {
                    background-image: url('../images/desktop/image-night-arcade.jpg');
                }
            }
            &:nth-child(3) {
                background-image: url('../images/mobile/image-soccer-team.jpg');
                background-size: cover;
                background-position: center;
                @include desktop-up {
                    background-image: url('../images/desktop/image-soccer-team.jpg');
                }
            }
            &:nth-child(4) {
                background-image: url('../images/mobile/image-grid.jpg');
                background-size: cover;
                background-position: center;
                @include desktop-up {
                    background-image: url('../images/desktop/image-grid.jpg');
                }
            }
            &:nth-child(5) {
                background-image: url('../images/mobile/image-from-above.jpg');
                background-size: cover;
                background-position: center;
                @include desktop-up {
                    background-image: url('../images/desktop/image-from-above.jpg');
                }
            }
            &:nth-child(6) {
                background-image: url('../images/mobile/image-pocket-borealis.jpg');
                background-size: cover;
                background-position: center;
                @include desktop-up {
                    background-image: url('../images/desktop/image-pocket-borealis.jpg');
                }
            }
            &:nth-child(7) {
                background-image: url('../images/mobile/image-curiosity.jpg');
                background-size: cover;
                background-position: center;
                @include desktop-up {
                    background-image: url('../images/desktop/image-curiosity.jpg');
                }
            }
            &:nth-child(8) {
                background-image: url('../images/mobile/image-fisheye.jpg');
                background-size: cover;
                background-position: center;
                @include desktop-up {
                    background-image: url('../images/desktop/image-fisheye.jpg');
                }
            }
        }
    }
}