// section 1
.interactive {
    width: 86%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__img {
        width: 100%;
        display: block;
        margin-bottom: 3rem;
    }

    &__content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        &-subtitle {
            // font
            font-size: 2rem;
            text-align: center;
            line-height: 1.1;

            margin-bottom: 13.5px;
        }
        &-paragraph {
            color: $dark-gray;
            text-align: center;
            line-height: 1.7;

            margin-top: 0;
        }
    }
}

// section 2
.creations {
    display: grid;
    
    margin-bottom: 4.1rem;

    &__subtitle {
        // font
        font-size: 2rem;
        text-align: center;
        // grid
        order: 1;
    }
    &__button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;

        order: 3;
    }
    &__gallery {
        width: 86%;
        margin-left: auto;
        margin-right: auto;
        // grid
        display: grid;
        row-gap: 1.6rem;
        order: 2;

        &-item {

            &:nth-child(1) {
                background-image: url('../images/mobile/image-deep-earth.jpg');
                background-size: cover;
                background-position: center;
            }
            &:nth-child(2) {
                background-image: url('../images/mobile/image-night-arcade.jpg');
                background-size: cover;
                background-position: center;
            }
            &:nth-child(3) {
                background-image: url('../images/mobile/image-soccer-team.jpg');
                background-size: cover;
                background-position: center;
            }
            &:nth-child(4) {
                background-image: url('../images/mobile/image-grid.jpg');
                background-size: cover;
                background-position: center;
            }
            &:nth-child(5) {
                background-image: url('../images/mobile/image-from-above.jpg');
                background-size: cover;
                background-position: center;
            }
            &:nth-child(6) {
                background-image: url('../images/mobile/image-pocket-borealis.jpg');
                background-size: cover;
                background-position: center;
            }
            &:nth-child(7) {
                background-image: url('../images/mobile/image-curiosity.jpg');
                background-size: cover;
                background-position: center;
            }
            &:nth-child(8) {
                background-image: url('../images/mobile/image-fisheye.jpg');
                background-size: cover;
                background-position: center;
            }
        }
    }
}