.navbar {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.title {
    width: 86%;
    padding: 20px;
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    // font
    font-size: 2.5rem;
    color: #ffffff;
    line-height: 1;
}

.js-shrink {
    background-color: #000000;
    padding-top: 1rem;
    padding-bottom: 1rem;
}