// hidden menu on scroll
.js-shrink {
    background-color: #000000;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.js-hidden {
    top: -57px
}

.js-navbar {
    width: 100%;
    transition: top 0.3s;
    // position
    position: fixed;
    top: 0;
    z-index: 10;
}

// menu open in mobile view
.js-navbar__nav {
    @include mobile-down {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        // position
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
}

.js-fixed {
    @include mobile-down {
        &-logo, &-menu {
            position: fixed;
            z-index: 20;
        }
        &-logo {
            left: 27px;
        }
        &-menu {
            right: 27px;
        }
    }
}

// animation
.js-remove-opacity {
    opacity: 1;
    transition: opacity 1s;
}

.js-move-up-1 {
    animation: move-up-1 1s;
}

.js-move-up-2 {
    animation: move-up-2 1.5s;
}

.js-move-left {
    animation: move-left 1.5s;
}