.button {
    display: block;
    border-style: none;
    border: 1px solid;
    padding: 12px 2.4rem;
    background-color: inherit;
    // font
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    letter-spacing: 5px;
}