.creations__gallery-item {
    height: 7.75rem;
    padding: 20px;
    // flexbox
    display: flex;
    align-items: flex-end;
    // font
    font-family: 'Josefine Sans', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ffffff;
}