.header-menu, .footer-menu {
    list-style-type: none;
    padding-left: 0;
    // flexbox
    display: flex;
    flex-direction: column;
    row-gap: 1.45rem;

    @include desktop-up {
        // flexbox
        flex-direction: row;
        column-gap: 2rem;
    }

    &__link {
        color: #ffffff;
        text-decoration: none;
        opacity: .9;
    }
}