.navbar {
    width: 100%;
    transition: top 0.3s;
    // position
    position: fixed;
    top: 0;
    z-index: 10;

    &__wrapper {
        width: 86%;
        max-width: 1114px;
        margin-left: auto;
        margin-right: auto;
        // flexbox
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;
        width: 150px;
        @include desktop-up {
            width: 192px;
        }
    }
    &__menu-icon {
        @include desktop-up {
            display: none;
        }
    }
}

.js-hidden {
    top: -57px
}