.navbar {
    width: 86%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // center a fixed position
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &__logo {
        display: block;
        width: 150px;
    }
    // &__menu-icon {

    // }
}